html,
body {
  font-size: 16px;
  background-color: #fafafa;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden; }
  @media (max-width: 1200px) {
    html,
    body {
      font-size: 15px; } }
  @media (max-width: 768px) {
    html,
    body {
      font-size: 13px; } }
  @media (max-width: 520px) {
    html,
    body {
      font-size: 11px; } }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.button {
  padding: 16px 32px;
  background-color: #0EBFE9;
  font-weight: 600;
  color: #fff;
  border-radius: 40px;
  cursor: pointer; }
  .button:focus {
    outline: none; }

.headline, .headline__primary, .headline__secondary {
  font-family: "Roboto Mono", monospace;
  color: #333;
  font-weight: 300;
  text-align: center;
  line-height: 1.15; }
  .headline__primary {
    font-size: 36px;
    margin-bottom: 16px; }
  .headline__secondary {
    font-size: 24px;
    margin-bottom: 8px; }

.text, .text--error {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #333;
  text-align: center;
  line-height: 1.25;
  font-size: 17px;
  margin-bottom: 8px; }
  .text--error {
    font-size: 14px;
    color: red; }

.form {
  display: flex;
  padding: 40px 24px;
  justify-content: center;
  align-items: center; }
  .form .form-control {
    margin: 8px 24px;
    max-width: 360px;
    box-sizing: border-box; }

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  height: 300px; }

.app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 0; }
  .app .result {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .app .chart {
    padding-top: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
